@charset "UTF-8";

html, body {
  height: 100%; 
}

body { 
  background-image: url("../img/home-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%; 
}
