@charset "UTF-8";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > * {
    margin: auto;
}

.user-name {
    position: absolute;
    left: 40%; top: 40%;
    width: 200px; height: auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff4a229d;
    color: rgba(255, 255, 255);
    font: normal normal 1em Arial;
}

.start-btn {
    position: absolute;
    left: 40%; top: 45%;
    width: auto; height: auto;
    min-width: 200px;
    min-height: 80px;
    border: none;
    border-radius: 20px;
    background-color: #0001349d;
    color: white;
    font: normal bolder 2em Arial;
    text-transform: uppercase;
}

.start-btn:hover, .ranking-icon {
    cursor: pointer;
}

.ranking-icon {
    width: 100px;
    border: none;
    position: absolute;
    left: 30%; top: 65%;
}